body {
    text-align: left;
}

#happy {
    color: tomato;
}

p.very {
    color: slateblue;
}

p.extra {
    color: palevioletred;
} 

b {
    font-weight: bolder;
    color: black;
}

div p {
    font-weight: lighter;
    color: goldenrod;
}

div h2, div h3 {
    font-weight: lighter;
    color: aquamarine;
    background-color: blueviolet;
    width: 400px;
    text-align: center;
}

h3.nodiv {
    background-color: yellow;
    color: red;
    width: 480px;
}

* {
    font-size: 24px;
    color: black;
} /*Este selector universal solo cambia propiedades que no hayan sido
definidas previamente*/

.color {
    color: #aaa;
    /*Si se usan 3 carácteres el primero indica rojo, el segundo 
    verde y el tercero azul. Todos van del 0 (ausencia) la f (presencia total
    del color), i.e, 0<1<2<3<4<5<6<a<b<c<d<e<f*/
}