body {
    text-align: left;
}

#happy {
    color: tomato;
}

p.very {
    color: slateblue;
}

p.extra {
    color: palevioletred;
} 

b {
    font-weight: bolder;
    color: black;
}

div h2, div h3 {
    font-weight: lighter;
    color: aquamarine;
    background-color: blueviolet;
    width: 400px;
    text-align: center;
}

h3.nodiv {
    background-color: yellow;
    color: red;
    width: 480px;
}

* {
    font-size: 24px;
    color: black;
} /*Este selector universal solo cambia propiedades que no hayan sido
definidas previamente, cambia las propiedades de <html>*/

.color_hexa {
    /* color: #aaa; */
    /*Si se usan 3 carácteres el primero indica rojo, el segundo 
    verde y el tercero azul. Todos van del 0 (ausencia) la f (presencia total
    del color), i.e, 0<1<2<3<4<5<6<a<b<c<d<e<f*/
    color: #6aaef0;
    /*Funciona igual que con tres carácteres pero
    hay dos para cada color, los dos primeros rojo, los
    dos segundos verde y los dos últimos azul.
    El segundo dígito actúa como decimal
    a3f0a0 -> a.3R FG AB*/
}

.color_rgb {
    color: rgb(200, 255, 100);
}

.border {
    /* border: 5px red outset; */
    /*Tipos de borde:
        dotted
        dashed
        solid
        double
        groove
        ridge
        inset
        outsed
        none
        hidden
    */
    border-style: groove;
    border-color: red;
    border-radius: 10px;
    /* border-width: 8px; */
    /* border-width: 1in; */
    /* border-width: 5mm; */
    /* border-width: 5pt (1pt -> 1/72in) */
    /*border-width: 1pc; (1pc -> 12pt)*/ 
    /*border-width: 2em;*/ /* (2 veces el tamaño
                        de la fuente usada) */
    border-width: 0.5rem; /* 1 rem = 16px (si no
                        se cambia el font-size
                        de <html><html/>) */
    
}

#background {
    width: 300px;
    height: 200px;
    opacity: 0.9;

    background: #f00 url('img/coffee.png') repeat-y center top / 100px 100px;

    /* background-color: rgba(255, 0, 0, 0.1);
     rgba() permite añadir opacidad 0-1
    opacity: 0.9;
    background-image: url('img/coffee.png');
    background-size: contain; 
    background-size: auto; 
    background-size: cover; 
    background-size: 100px 100px;
    background-repeat: repeat-y;
    background-position: center top; */
    
}

.margen {
    background-color: chocolate;
    margin: 15px 20px 25px 30px;
}